@import './config';
@import './mixins';

.master-page {
  margin-top: 65px;
}

body{
  margin:0;
}

.spacing-top-20{
  margin-top: 20px !important;
}

.pt-left-20{
  padding-left: 20px !important;
}

.text-info{
  svg{
    vertical-align: text-top;
  }
}
.vendor-logo{
  max-width: 100%;
    width: 155px;
    display: block;
    margin-bottom: 15px;
}
.eagle-bg {
  min-height: 90vh;
  background-image: url('./img/eagle.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
}

.padd-40 {
  padding: 20px 40px 0px 40px !important;
}

.notification div {
  background-color: darken($grey, 15%) !important;
  color: darken($grey, 60%) !important;
}

.secondary {
  &:hover {
    &:not([class*='MuiInput-disabled-']) {
      &:not([class*='MuiInput-focused-']) {
        &:not([class*='MuiInput-error-']) {
          &:before {
            border-bottom:2px solid $secondary !important;
          }
        }
      }
    }
  }
  > div{
    &:before {
      border-bottom:2px solid $secondary !important;
    }
    &:after {
      border-bottom:2px solid $secondary !important;
    }
  }

}



.flex {
  display: flex;
}

.inline {
  padding: 0;
  margin: 0;
  li {
    display: inline-block;
  }
  list-style-type: none;
}

.add-item {
  margin-bottom: -0.5rem;
  margin-left: 1rem;
  padding: 0.5rem;
  border-radius: 50%;
  color: #fff;
  background-color: $action;
  @include box-shadow-one();
}

.tab-card {
  ul {
    li {
      
      &.categories-holder{        
        position: relative;
        span{
          &.item-data{
            &.categories{
              width: 100px;
              overflow: hidden;
              display: inline-block;
              vertical-align: sub;
              text-overflow: ellipsis;
              white-space: nowrap;
              z-index: 1;
              // &:hover{
              //   position: absolute;
              //   left: 0;
              //   right: 0;
              //   overflow: visible;
              //   top:-26px;
              //   bottom: 0;
              //   width: calc(100% - 5px);
              //   height: 20px;
              //   background-color: #fff;
              //   padding:10px;
              //   @include box-shadow-one;
              //   border-radius: 3px;
              // }
  
            }
          }
        }
      }
      span {
        font-size: 14px;

      
      }
      padding: 0px 20px;
      &:first-child {
      }
      .block-color {
        color: $secondary;
      }
      &.action {
        position: absolute;
        right: 0;
        top: 12px;
      }
      .time-stamp {
        position: absolute;
        right: 20px;
        top: 8px;
        color: $dark-grey;
        svg {
          position: relative;
          top: 6px;
          font-size: 20px;
          color: $dark-grey;
        }
      }
    }
  }
}

.chart-container {
  img {
    width: 100%;
  }
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.spinner{    
  display: inherit;
  i{
   
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

.bg-internal{
  background-color: $internal !important;
}


.auth-modal{
  .auth-body{
    .align-right{
      width: 97%;
      float: right
    }
  }
}

@import './partials/drawers';
@import './partials/landing-page';
@import './partials/login-page';
@import './partials/vendor-dashboard';
@import './partials/consumer-dashboard';
@import './partials/tender-page';
@import './partials/auth';
@import './partials/loader';
@import './partials/rowItem';
@import './partials/buttons';
@import './partials/success-message';
@import './partials/tender-brief';
@import './partials/modal';
@import './partials/vendor-tender-page';
@import './partials/tender-bonds';
@import './partials/header';
@import './partials/addTender';
@import './partials/tender-bid';
@import './partials/bidders';
@import './partials/dashboard';


@import './partials/internal';

